body {
    font-family: Arial, sans-serif;
    text-align: left; 
    background: url('images/dayback.jpg') no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(10px);
    transition: background 0.3s, color 0.3s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e4a0c2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d14791;
}
header {
    position: relative;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background: url('images/head.jpg') no-repeat center center;
    background-size: cover;
    border: 2px solid #ffedf6;
}

header::before, header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: url('images/sparkle.gif') no-repeat center center;
    background-size: contain;
}

header::before {
    left: 10px;
}

header::after {
    right: 10px;
}

/* Темная тема */
.dark-mode {
    background: url('images/back.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

.dark-mode header {
    background: url('images/head.jpg') no-repeat center center;
    background-size: cover;
}

.dark-mode button {
    background-color: #322078;
}

.dark-mode button:hover {
    background-color: #322078;
}


.container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

/* Блок с каруселью */
.carousel-container {
    flex: 0 1 300px; 
    margin-right: 20px;
    box-sizing: border-box;
}

/* Карусель */
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    height: 300px;
    margin-left: 0;
    cursor: pointer;
}
.carousel::before,
.carousel::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.carousel::before {
    left: 0;
}

.carousel::after {
    right: 0;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    transition: transform 0.3s ease-in-out;
}

.carousel img.active {
    display: block;
    opacity: 1;
}

.carousel img:hover {
    transform: scale(1.1);
}

/* Точки карусели */
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-dots .dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots .dot.active {
    background-color: #ff69b4;
}

/* Текст в карусели */
.carousel-text {
    text-align: left;
    margin-top: 20px;
    width: 100%;
}

.carousel-text p {
    margin: 5px 0;
}
.carousel-text p:last-of-type {
    margin-top: 20px; 
}
.carousel-text a {
    color: #e31e1e;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #d14791;
}



button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #d14791;
}

button img {
    width: 24px;
    height: 24px; 
    transition: transform 0.3s ease;
}


.dark-mode button img {
    transform: rotate(180deg); 
}

.text-section {
    width: 100%; 
    max-width: 1000px;
    margin: 0 auto; /
}

/* Блок с дополнительным текстом и гифкой */
.info-block {
    display: flex;
    align-items: center;
    border: 2px solid #ff69b4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    max-width: 1040px;
    margin-left: auto;
    margin-right: 0;
}
.info-block::before,
.info-block::after {
    content: "";
    position: absolute;
    width: 35%; /* Размер иконки */
    height: 50px; /* Размер иконки */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info-block::before {
    top: 69%;
    left: 150px; /* Расстояние от левого края */
    transform: translateY(-50%);
    background-image: url('images/dress.ico'); 
}

.info-block::after {
    top: 95%;
    right: -250px; /* Расстояние от правого края */
    transform: translateY(-50%);
    background-image: url('images/crystal.ico'); 
}

.info-text {
    flex: 1;
    padding-right: 20px;
}

.info-gif {
    width: 350px;
    height: 350px;
    background: url('images/sailor.gif') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
}


/* Для цитаты */
blockquote {
    font-family: Didot, serif;
    font-style: italic;
    font-size: 18px;
    color: #ffffff;
    border-left: 5px solid #ff69b4;
    padding-left: 15px;
    margin-bottom: 20px;
    text-align: left; 
    margin-left: 0; 
    margin-right: 0; 
}
/* Адаптивность */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .text-section {
        padding-left: 0;
        text-align: left; 
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}